#container {
    max-width:50%;
    margin: auto;
    justify-content: center;
    text-align: center;

    padding-top: 50px;
  }

#confirm-container {
    max-width:50%;
    margin: auto;
    justify-content: center;
    text-align: center;
  

    padding-top: 30px;
  }

  #confirm {
    --background: #5B7553;
    --color: #C3E8BD;
   
    margin: 30px;
  }