<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> 
    <ion-title class="ion-text-center">Log Stanford Sleepiness</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-icon name="pulse-outline" size="large"></ion-icon>
    <h1>How sleepy are you feeling?</h1>
    <div id="container">
      <app-handtracker (onPrediction)="prediction($event)"></app-handtracker>
      <div [innerHTML]= "gesture"></div>
      <div [innerHTML]= "answer" ></div>
    </div>
    <ion-list lines="full">
      <ion-list-header size="large"> 
        The Stanford Sleepiness Scale
      </ion-list-header>
      <ion-item>
        <ion-label>
          <h1>1 - Feeling active, vital, alert, or wide awake</h1>
          <h2>Hand Pointing</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h1>2 - Functioning at high levels, but not at peak; able to concentrate</h1>
          <h2>Closed Hand</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h1>3 - Awake, but relaxed; responsive but not fully alert</h1>
          <h2>Two Closed Hands</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h1>4 - Somewhat foggy, let down</h1>
          <h2>Two Closed Hands</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h1>5 - Foggy; losing interest in remaining awake; slowed down</h1>
          <h2>Two Hands Pointing</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h1>6 - Sleepy, woozy, fighting sleep; prefer to lie down</h1>
          <h2>One Closed One Open</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h1>7 - No longer fighting sleep, sleep onset soon; having dream-like thoughts</h1>
          <h2>One Closed One Pointing</h2>
        </ion-label>
      </ion-item>
    </ion-list> 
  </div>  

  <div id="confirm-container">
    <ion-button id="confirm" (click)="confirm()" size="large"> Confirm </ion-button>
  </div>





</ion-content>
